body {
	background: url("../images/newsletter_box.gif") no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-family: Veranda;
	font-size: 16pt;
	}
#container {
	margin: 0 auto;
	width: 678px;
}
#topmenu {
	margin: 20px 0 10 px;
	}
#topmenu a {
	font-family: Veranda;
	font-size: 16pt;
	font-weight: bold;
	margin: 0 20px;
	text-decoration: none;
	padding: 10px 5 px;
}
#topmenu a:hover {
	background-color: green;
}